%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
{deps, [
	{cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "master"}},
	{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "master"}},
	{erlang_ale, ".*", {git, "https://github.com/fhunleth/erlang_ale.git", "rebar-bbb"}}
       ]}.
{post_hooks, [{"linux", compile, "./relhelper.sh"}]}.
